<!DOCTYPE HTML>
<html lang="pt-BR">
<html>
    <head>
        <title>Curso RoR Cristi Allan</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <%= stylesheet_link_tag    'application', media: 'all' %>
       <%= stylesheet_link_tag '/fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900' %>
    </head>
    <body>
        <!-- Wrapper -->
            <div id="wrapper">

                <%= render 'header' %>

                <%= render 'menu' %>

                <!-- Main -->
                    <div id="main">
                        <%= yield %>
                    </div>

                <%= render 'footer' %>

            </div>

        <%= javascript_include_tag 'application' %>

    </body>
</html>
